{%extends centipair_base_template %}
{%block content%}
{% load i18n %} 
<h2>{% trans "New account registration" %}</h2>
<div class="row">
  <div class="col-md-4">
    <form ng-controller="RegisterCtrl">
      <div ng-show="allErrors" class="form-group has-error">
	<label class="control-label">[{errors.__all__}]</label>
      </div>
      {{form.username}}
      {{form.password1}}
      {{form.password2}}
      {{form.email}}
      {{form.tos}}
      {{form.check}}
      <button submit url="/register" class="btn btn-primary">{% trans "Register" %}</button>
    <form>
  </div>
</div>
{%endblock%}
